
.dash {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 100px;    
    flex-direction: column;
}

#preview{
    background-color: #FFFFFF;
    width: 60%;
    box-shadow: 0 2px 2px 2px rgba(73, 69, 69, 0.249);
    padding: 20px;
    margin: 25px;
    
}
.infoContainer {
    border-radius: 5px;
    box-shadow: 0 2px 2px 2px rgba(73, 69, 69, 0.249);
    margin: 10px;
    padding: 20px;
    color: black;
    display: flex;
    justify-content: space-between;
}

.infoContainer > h2 {
    font-size: 2rem;
    color: #FF9771;
    text-align: left;
    
}

#profile {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-between
}

#pic{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}


#search {
    padding: 10px;
    width: 60%;
    height: 50px;
    padding: 20px;
    margin-top: 50px; 
    box-shadow: 0 2px 2px 2px rgba(73, 69, 69, 0.249);
    background-color: #FFFFFF;
}

#search > input {
    height: 20px;
    width: 30vw;
    margin: 10px;
}